html,
body {
  text-align: center;
  margin: 0 auto;
  background: linear-gradient(rgba(164, 165, 165), rgba(0, 0, 25, 0));
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4em;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Nabla", cursive;
}

p {
  color: #2f2f2f;
  font-weight: 700;
}

button {
  margin: 1em 0;
  height: 50px;
  width: 100px;
  border: 1px solid #f1870e;
  border-radius: 10%;
  color: #fff;
  background: orange;
  padding: 1em;
  text-transform: uppercase;
  animation: 3s linear 1s infinite alternate slidein;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #f1870e;
  cursor: pointer;
  transform: scale(1.1);
}

.fun {
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}
